#md_point_tab1,
#md_point_tab2 {
    padding: 20px;
}

#md_point .tab_level_2 {
    border: 1px solid #fff;
    padding-top: 20px;
    min-height: 406px;
}

#md table {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-collapse: collapse;
    font-size: 12px;
}

#md table th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: rgba(135, 206, 250, 0.3);
}

#md table th,
#md table td {
    padding: 5px 0px;
}


/* #md_point_tab1 START */

#md_point_buy1 button:hover {
    cursor: pointer;
}

#md_point_buy1 .buy_point_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:3px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    width: 228px;
    margin: 0px 0px 10px 20px;
}
#md_point_buy1 .buy_point_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
#md_point_buy1 .buy_point_btn:active {
    position:relative;
    top:1px;
}

#md_point .blue_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .blue_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .blue_btn:active {
    position:relative;
    top:1px;
}

#md_point .green_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .green_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .green_btn:active {
    position:relative;
    top:1px;
}

#md_point .light_blue_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .light_blue_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .light_blue_btn:active {
    position:relative;
    top:1px;
}

#md_point .red_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .red_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .red_btn:active {
    position:relative;
    top:1px;
}

#md_point .pink_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .pink_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .pink_btn:active {
    position:relative;
    top:1px;
}

#md_point .yellow_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
    width: 600px;
    margin: 0px 0px 20px 20px;
}
#md_point .yellow_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
    background-color:#fb9e25;
    box-shadow: 0px 0px 10px #fff;
}
#md_point .yellow_btn:active {
    position:relative;
    top:1px;
}

#md_point_buy2 span,
#md_point_buy3 .yellow_btn,
#md_point_buy4 .light_blue_btn span {
    font-size: 20px;
    letter-spacing: 5px;
}

#md_point_buy2 span:first-child,
#md_point_buy4 .light_blue_btn span:first-child {
    display: inline-block;
    width: 350px;
}

#md_point_buy2 span:last-child,
#md_point_buy4 .light_blue_btn span:last-child {
    display: inline-block;
    margin-left: 50px;
}


/* #md_point_tab1 END */
