@charset "utf-8";
/* CSS Document */

.red { color: #d14; }

.green { color: #46a546; }

.grayLight { color: #999; }

.blue { color: #049cdb; }

.darkblue { color: #0055CC; }

.purple { color: #7a43b6; }